@import "/styles/settings/settings.scss";

.articleForm {
    input {
        @include border();
        margin-top: 10px;
        width: 100%;
        height: 40px;
    }
    label {
        display: inline-block;
        vertical-align: top;
        padding-left: 25px;
        position: relative;
    }
}
.statusMessage {
    width: 100%;
    background-color: lightgreen;
    padding: 5px 3px;
    border-radius: 5px;
}
